<section>
  <p>数学、计算机、网文爱好者。热爱探索数学的抽象美与计算机的逻辑之美。</p>
  <p>在这里分享对数学、编程和各种有趣想法的思考。喜欢用代码实现数学概念，也热衷于阅读各类网络小说放松身心。</p>
  <p><i>兴趣方向</i>：抽象代数、深度学习、函数式编程、算法设计、网络文学。</p>
</section>

<style>
  section {
    margin-bottom: 3em;
  }

  p {
    margin-bottom: 1em;

    sup {
      line-height: 0;
    }
  }
</style>
