<section>
  <p>Sharing some fun ideas.</p>
  <p><i>兴趣</i>：<b>浪费时间</b></p>
<a href="game">扫雷</a>
</section>

<style>
  section {
    margin-bottom: 3em;
  }

  p {
    margin-bottom: 1em;

    sup {
      line-height: 0;
    }
  }
</style>
