---
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
/* src/styles/global.css */
import 'katex/dist/katex.min.css';

const { title = '↩ Index', headProps } = Astro.props;
---

<html lang="en">
  <Head {...headProps}>

  </Head>

  <body>


    <Header {title} />

    <main>
      <slot /> 
    </main>

    <Footer>
      <slot name="footer" />
    </Footer>
  </body>
</html>

<style>
  main {
    margin: 3em 0;
  }
  body {
    font-size: 1rem; 
  }

</style>
